:root{
    --boxColor: rgb(167,152, 152);
    --rotateSpeed: 20s;
    --bouncingSpeed: 2s;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #000;
    display: flex;
    flex-direction: column;
}
h1{
    color: #fff;
    background-color: #000;
    font-size: 70px;
    text-align: center;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 6px #999, 0 0 9px #bbb;
}
.ImgRot{
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    font-size: 90px;
    perspective: 20em;
    perspective-origin: 50% calc(50% - 2em);
}
.scene{
    position: relative;
    transform-style: preserve-3d;
    animation: sceneRotate var(--rotateSpeed) infinite linear;
}
@keyframes sceneRotate {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(180deg);
    }
}
.cube{
    width: 2em;
    height: 2em;
    transform-style: preserve-3d;
    position: absolute;
    top: -1em;
    left: -1em;
}
.cube .front{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(images/Aqua\ Farmers.jpeg);
    background-size: contain;
    transform: translateZ(1em);
    box-shadow: 0 0 0.5em #000 inset;
}

.cube .back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(images/Aqua\ Farmers.jpeg);
    background-size: contain;
    transform: rotateY(180deg) translateZ(1em);
    box-shadow: 0 0 0.5em #000 inset;

}
.cube .left{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(images/Aqua\ Farmers.jpeg);
    background-size: contain;
    transform: rotateY(270deg) translateZ(1em);
    box-shadow: 0 0 0.5em #000 inset;
}
.cube .right{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(images/Aqua\ Farmers.jpeg);
    background-size: contain;
    transform: rotateY(90deg) translateZ(1em);
    box-shadow: 0 0 0.5em #000 inset;
}
.cube .top{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eee;
    transform:translateY(-50%) rotateX(90deg);
    box-shadow: 0 0 0.5em #000 inset;
}
.cube .bottom{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-image: url(images/Aqua\ Farmers.jpeg);
    background-size: contain;
    transform: translateY(50%)  rotateX(90deg);
    box-shadow: 0 0 0.5em #000 inset;
}
.floor{
    position: absolute;
    top: 1em;
    transform: 
        translate(-50%, -50%)
        rotateX(90deg);
    width: 10em;
    height: 10em;
    background-image: 
    radial-gradient(#0000, #000 100%), 
    repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
    background-size: 100%, 1em 1em;
}
.Matter{
    background: #000;
    line-height: 35px;
    padding: 1em;
    min-height: 10em;
    color: #eee;
    font-size: 22px;
    margin: 0;
}
.Table{
    align-self: center;
    background: #000;
    /* padding: 2em; */
    min-height: 10em;
    color: #eee;
    font-size: 1.2em;
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 600px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(246, 246, 246,0.9);
    width: 60%;
}
.Table thead tr{
    /* background: #009879; */
    background: #ddd;
    color: #000;
    font-weight: bold;
    text-align: left;
}
.Table td{
    padding: 12px 15px;
}
.Table th{
    padding: 12px 15px;
}
.Table tbody tr{
    border-bottom: 1px solid #ddd;
}
.Table tbody tr:nth-of-type(even){
    background: #222;
}
.Table tbody tr:nth-of-type(odd){
    background: #111;
}